/**
 * Footer
 * --------------------------------------------------------------------------- 
**/

#footer {

	background-color: rgba( darken( $green, 10% ), .90 );
	margin-top: 0; //$double-whitespace;
	width: 100%;

}

#footer-nav {

	background-color: rgba( $green, .8 );
	color: white;
	text-align: center;

	ul {

		display: block;
		margin: 0;
		padding: $default-whitespace;
		text-align: center;

		@media #{$screen-xsm} {

			padding: $default-whitespace 0;
			text-align: left;

			li {

				a {

					line-height: 100%;
					text-decoration: none;

				}

			}

		}			

		li {

			display: inline-block;

			a {

				color: white;

			}

		}

	}

}

#footer-support {

	background-color: rgba( darken( $green, 15% ), .50 );
	color: white;
	padding: $double-whitespace;
	text-align: center;
	width: 100%;

	a {

		@extend %bg;
		display: inline-block;
		margin: $half-whitespace;	

		img {

			background-color: white;
			max-height: 80px;
			object-fit: contain;
			width: auto;

			&.milieudefensie {

				padding: $default-whitespace;

		}				

		}

	}

}

#footer-widgets {

	margin: $double-whitespace 0;

	@media #{$screen-sm} {

		padding: 0 $default-whitespace;

	}		

	.widget {

		h5 {

			border-bottom: 1px solid lighten( $green-dark, 5% );
			color: $grey-light;
			font-size: 1.14rem;
			font-weight: bold;
			overflow: hidden;
			margin-bottom: $default-whitespace;
			padding-bottom: $default-whitespace;
			text-overflow: ellipsis;
			white-space: nowrap;

		}

		p {

			color: $grey-light;

		}

		.footer-gallery {

			list-style: none;
			margin: 0;
			padding: 0;

			li {

				border: 2px solid transparent;;

				img {

					background-color: $nullbeta-bgcolor;
					padding: $half-whitespace;

				}

			}

		}

		.footer-links {

			margin: 0;
			padding: 0;

			li {

				font-size: 1rem;
				line-height: 200%;
				list-style: none;

				a {

					color: white;
					text-decoration: none;

					&:hover {

						text-decoration: underline; 

					}

				}

			}

		}

	}

}

#page-ratings {

	color: darken( $green-dark, 5% );
	font-size: .7rem;
	padding-bottom: $default-whitespace;
	text-align: center;

}