/**
 * Layout - general
 * ---------------------------------------------------------------------------
 * - page & post
**/


#logo {

	img {

		max-width: 250px;
		height: auto;

	}

}

.howdy,
.contact {

	font-size: 1.5rem;
	text-align:center;

}

.contact {

	color: white;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.65 );

}

.container {

	max-width: $nullbeta-container-width;
	padding: 0;

}

/* ===== Page & post ===== */

.item-page,
.item-post {	

	min-width: 500px;

		@media #{$screen-xsm} {

			min-width: 0;

		}	

	
	#content {

		a.knop {

			background-color: $blue-dark;
			color: white;

			&:hover {

				background-color: $blue-light;

			}

		}

		ul,
		ol {

			margin: 0 0 $default-whitespace 0;
			padding: 0;

		}

		li {

			line-height: 200%;
			margin: .25rem 0 .25rem 1.25rem;

		}

		ul {

			li {

	    		list-style: circle;

			}

		}

		ol {

			li {

				list-style: decimal;

			}

		}		

	}
	
	
}