/**
 * Header
 * --------------------------------------------------------------------------- 
**/

#container-branding {

	background-color: rgba( $nullbeta-bgcolor, 1 ); //.85
	border-bottom: 1px solid $grey;
	box-shadow: 0px 10px 10px -10px rgba( 0, 0, 0, 0.75 );	
	margin: 0;
	padding: $half-whitespace $default-whitespace $default-whitespace $default-whitespace;
	text-align: center;
	
	a {
		
		font-size: 1.14rem;
		color: $grey-dark;
	    text-decoration: none;
	    @include transition( .25s );
				
		#site-titel {
						
		}

		img {

			max-height: 40px;

		}
		
	}
	
}

#container-logo {

	background-color: rgba( $nullbeta-bgcolor, 1 ); //.85
	padding: $default-whitespace $default-whitespace 0 $default-whitespace;
	text-align: center;
	width: 100%;

	a {

		.icon {

			&.splash {

				animation: splash infinite 3500ms ease-out;
				position: absolute;
				right: -0.85rem;
				top: -6rem;
				z-index: 1;

			}

			&.filter-blue {

				filter: invert( 69% ) sepia( 64% ) saturate( 1990% ) hue-rotate( 157deg ) brightness( 90% ) contrast( 93% );

			}

			&.filter-green {

				filter: invert( 59% ) sepia( 87% ) saturate( 1224% ) hue-rotate( 34deg ) brightness( 105% ) contrast( 101% );

			}

			&.filter-orange {

				filter: invert( 78% ) sepia( 84% ) saturate( 5369% ) hue-rotate( 355deg ) brightness( 101% ) contrast( 101% );

			}

			&.filter-pink {

				filter: invert( 28% ) sepia( 82% ) saturate( 989% ) hue-rotate( 302deg ) brightness( 89% ) contrast( 85% );

			}

			&.size-200,
			&.size-250,
			&.size-300,
			&.size-350 {

				height: 150px;
				max-height: 150px;
				width: 150px;

			}				

			img {

				max-height: 250px;
				width: auto;

			}

		}

	}


	img {

		margin: 0 auto;
		max-height: 60px;
		width: auto;

	}

}

