	/**
 * RESPONSIVE - media queries
 * --------------------------------------------------------------------------- 
**/
  
    
/**
 * DESKTOP SPECIFIC
 * --------------------------------------------------------------------------- 
**/

@include nullbeta-md {

}

/**
 * TABLET SPECIFIC
 * --------------------------------------------------------------------------- 
 * - Breadcrumbs
 * - Search
 * - Wallpapers
**/

@include nullbeta-sm {
	
	/* ===== Breadcrumbs ===== */

	#container-breadcrumbs {

	}

	/* ===== Search ===== */

	#container-site-search {

		#s {

			width: 200px;

		}

	}


	/* ===== Wallpapers ===== */

	#lijst-wallpapers {

		.item-intro {
			

			@supports( display: grid ) {
			
				grid-column: span 1;
			
			}
			
		}

	}

}


/**
 * SMARTPHONE SPECIFIC
 * --------------------------------------------------------------------------- 
 * - General
 * - Ads
 * - Comments
 * - Footer
 * - Header
 * - Home
 * - Kleurplaten
 * - Ingezonden kleurplaten
 * - Leuke links
 * - License
 * - Masonry
 * - Navigation
 * - Page
 * - Post
 * - Ratings
 * - Sidebar
 * - Social share
 * - TablePress
 * - Tags
 * - Wallpapers
**/

@include nullbeta-xs {

	.container {

		padding-left: 0;
		padding-right: 0;

	}

	#lvk.container {

		border-left: none;
		border-right: none;
		box-sizing: border-box;
	
	}

	#header,
	#container-nav,
	#main,
	#footer {

		grid-template-columns: 1fr;
		
	}

	#container-page,
	#container-post {

		#no-content {

			margin: $default-whitespace;

		}

		#item-intro,
		#lijst-externe-links {

			padding: $default-whitespace;

		}

	}

	/* ===== Ads ===== */

	#bol-suggesties {

		padding: $default-whitespace;

		.bol-product {

			flex-basis: 100%;
			padding: $default-whitespace;

		}

	}

	#container-headerlift {

		padding: $default-whitespace;

		.headerlift-desktop {

			min-width: 0;

		}

	}


	/* ===== Comments ===== */

	#reageer,
	#eerdere-reacties {

		padding: $default-whitespace;

	}

	#eerdere-reacties {

		margin: 0;
		width: 100%;

	}	


	/* ===== Footer ===== */

	#footer-nav {

		ul {

			padding: $default-whitespace 0;
			text-align: left;

			li {

				display: block;

			}

		}

	}

	#footer-linkgroups {

		padding: $default-whitespace;

		.footer-linkgroup {

			width: 100%;

		}

	}	

	#footer-widgets {

		.widget {

			padding: 0 $default-whitespace;

		}

	}	

	/* ===== Games ===== */

	#container-game-meta {

		margin: 0 $default-whitespace;

		flex-wrap: wrap;

		div#beeld {

			margin: $half-whitespace 0;
			width: 100%;

			img {

				width: 100%;

			}

		}

	}

	/* ===== Header ===== */

	#container-breadcrumbs,
	#container-social,
	#container-site-search {

		display: none;

	}

	#container-branding {

		margin: 0;
		text-align: center;

		a {

			font-size: 1.125rem;

			img {

				max-height: none;
				padding: 0 3rem $default-whitespace 3rem;
				width: 100%;

			}

		}

	}


	/* ===== Home ===== */

	a.sticky {
		
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		margin: $default-whitespace;

		> div {

			min-height: 200px;

		}

		.container-beeld {

			grid-row: 1;

		}

		.container-inhoud {

			span.lees-meer {

				margin-right: 0;
				margin-bottom: $default-whitespace;

			}

		}

	}

	.mop {

		grid-template-columns: 40% 1fr;
		grid-template-rows: auto;
		margin: $default-whitespace;		

	}	


	/* ===== Kleurplaten ===== */

	#lijst-kleurplaten-categorie,
	#lijst-kleurplaten-populair,
	#lijst-alle-kleurplaten,
	#lijst-kleurplaten-per-letter,
	#lijst-nieuwste-kleurplaten {
		
		@supports( display: grid ) {
			display: grid;
			grid-gap: $default-whitespace;
			grid-template-columns: repeat( auto-fill, minmax( 320px, 1fr ) );
			grid-template-rows: auto;
			margin: $default-whitespace;
			padding: 0;
		}

		li.item-intro {

			grid-column-end: span 1;

		}

	}

	#container-page.kleurplaten-categorie,
	.item-kleurplaten {

		#item-intro {

			width: auto;
			margin: 0;
			padding: $default-whitespace;

			img {

				max-width: 100px;

			}

			@media ( max-width: 400px ) {

				h1 {

					text-align: center;

				}

			    .beeld-categorie {

			    	float: none;
			    	height: 200px;
			    	margin: 0;
			    	max-width: 100%;
			    	object-fit: contain;
			    	width: 100%;

			    }

			}

			img.full {

				max-width: 100%;

			}

		}

		.container-tags {

			display: none;

		}

		#container-ratings {

			width: 100%;

		}

	}


	/* ===== Deel je kleurplaat ===== */

	#deel-je-kleurplaat {

		padding: $default-whitespace;

	}


	/* ===== Ingezonden kleurplaten ===== */

	#lijst-ingezonden-kleurplaten {

		li {

			flex-basis: 50%;

		}

	}


	/* ===== Leuke links ===== */

	#container-page.leuke-links {

		#intro {

			padding: 0;

		}

		#lijst-leuke-links {

			.item-links {

				height: auto;

				.item-links-inhoud {

					padding: $default-whitespace;

				}

			}

		}	

	}


	/* ===== License ===== */

	#container-license.bottom {

		padding: $default-whitespace;

	}


	/* ===== Masonry ===== */

	.masonry {

		grid-auto-rows: auto;
		padding: $default-whitespace;

	}

	.item.span-0,
	.item.span-1,
	.item.span-2,
	.item.span-4 {

		@supports( display: grid ) {

			display: grid;
			grid-column-end: span 2;
			grid-row-end: span 1;			
			grid-template-columns: [item-start img-start] 40% [img-end] 1fr [item-end];
			grid-template-rows: auto 1fr;

		}

		.item-label {

			display: none;
			grid-column: item-start / item-end;
			grid-row: 1 / 1;

		}

		.item-beeld {

			grid-column: 1 / -1;
			grid-row: 1 / 1;
			min-height: 150px;

			img {
				
				font-family: 'object-fit: cover; object-position: 50% 50%;';
				height: 100%;
				object-fit: cover;
				object-position: 50% 50%;
				width: 100%;

			}

		}

		.item-content {

			grid-column: 1 / -1;
			grid-row: 2 / 2;

			h2 {

				font-size: 1.25rem;

			}

		}

	}

	.item.span-0,
	.item.span-1,
	.item.span-2,
	.item.span-3,
	.item.span-4 {

		.item-content {

			p {

				padding: 0 $default-whitespace;

				span.lees-meer {

					display: none;

				}

			}

			.length-video {

				text-align: left;
				padding: 0 0 0 $default-whitespace;

			}

		}

		.lees-meer {

			position: relative;
			bottom: auto;

		}

	}


	/* ===== Navigation ===== */

	#container-nav {

		background-color: $blue;
		height: auto;

		#main-menu {

			li {

				a {

					height: auto;

				}

			}

		}

	}

	#navigatie-games {

		flex-wrap: wrap;

		.vorige-game, 
		.volgende-game,
		.games-overzicht {

			margin: .25rem 0;
			width: 100%;

			a {

				display: block;

			}

		}

	}


	/* ===== Page ===== */

	#container-page .item-page.default {

		padding: $default-whitespace;

	}


	/* ===== Post ===== */

	#container-post,
	#container-post.video {

		h1 {

			font-size: $double-whitespace;
			margin: 0;
			padding: $default-whitespace;

		}

		.item-beeld {

			height: 300px;

		}

		.item-beeld.rolled-up {

			height: auto;
			max-height: 300px;

		}
		
		.item-beeld.smal-bg {

			margin: 0;

		}

		#item-body {

			padding: $default-whitespace;

		}

		.label-filmpje {

			display: none;

		}

	}

	#container-post.nieuws-voor-kids {

		#columns {

			columns: auto auto;

		}

	}


	/* ===== Ratings ===== */

	#container-ratings {

		@supports( display: grid ) {

			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;

			.container-rating {

				justify-self: start;

			}

		}

	}


	/* ===== Sidebar ===== */

	#sidebar {

		margin: 0;
		padding: 0 $default-whitespace;

		a.sticky {

			margin: 0 0 $default-whitespace 0;

			&> div.container-inhoud {

				min-height: 0;

			}

		}

	}


	/* ===== Social Share ===== */

	#lijst-social-media {

		margin: $half-whitespace 0 $default-whitespace 0;
		width: auto;

		li {

			a {

				font-size: $default-whitespace;
				height: $double-whitespace;
				line-height: $double-whitespace;
				width: $double-whitespace;

			}

		}

	}


	/* ===== TablePress ===== */

	.tablepress.little-ball-village {

		td.column-1 {

			width: auto;

		}

	}


	/* ===== Tags ===== */

	.container-tags {

		margin: 0 0 $default-whitespace 0;

	}

	/* ===== Wallpapers ===== */

	#lijst-wallpapers {

		.item-intro {
			

			@supports( display: grid ) {
			
				grid-column: span 1;
			
			}
			
		}

	}				
	
}
