/**
* SCSS Mixins
* --------------------------------------------------------------------------- 
**/


@mixin nullbeta-filter( $color: #000, $opacity: 1 ) {

  $r: red( $color ) / 255;
  $g: green( $color ) / 255;
  $b: blue( $color ) / 255;
  $a: $opacity;

  filter: saturate( 0% ) brightness( 0% ) invert( $lightness ) opacity( $opacity );

}

@mixin nullbeta-border-radius( $nullbeta-border-radius ) {

	-webkit-border-radius: $nullbeta-border-radius;
	-moz-border-radius: $nullbeta-border-radius;
	-ms-border-radius: $nullbeta-border-radius;
	border-radius: $nullbeta-border-radius;

}

@mixin nullbeta-transition( $prop, $nullbeta-transition ) {
	
	-webkit-transition: $prop ease-in $nullbeta-transition;
	-moz-transition: $prop ease-in $nullbeta-transition;
	-ms-transition: $prop ease-in $nullbeta-transition;
	transition: $prop ease-in $nullbeta-transition;
	
}

@mixin nullbeta-box-shadow( $nullbeta-opacity ) {

	-webkit-box-shadow: 0 1px 2px rgba( 0, 0, 0, $nullbeta-opacity );
	-moz-box-shadow: 0 1px 2px rgba( 0, 0, 0, $nullbeta-opacity );
	-ms-box-shadow: 0 1px 2px rgba( 0, 0, 0, $nullbeta-opacity );
	box-shadow: 0 1px 2px rgba( 0, 0, 0, $nullbeta-opacity );

}

@mixin nullbeta-scale( $nullbeta-transform ) {

	-webkit-transform: scale( $nullbeta-transform );
	-moz-transform: scale( $nullbeta-transform );
	-ms-transform: scale( $nullbeta-transform );	
	transform: scale( $nullbeta-transform );
	
}

@mixin nullbeta-translate( $x, $y ) {
	
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}transform: translate( $x, $y );
     }
	
}


@mixin nullbeta-appearance() {
	
	-webkit-appearance: none; 
	-webkit-tap-highlight-color: transparent;
	
}


@mixin nullbeta-xs {
	
  @media ( max-width: #{$nullbeta-width-xs - 1px} ) {
    @content;
  }
  
}

@mixin nullbeta-sm {

  @media ( min-width: #{$nullbeta-width-xs} ) and ( max-width: #{$nullbeta-width-sm - 1px} ) {
    @content;
  }

}

@mixin nullbeta-md {

  @media ( min-width: #{$nullbeta-width-sm} ) and ( max-width: #{$nullbeta-width-md - 1px} ) {
    @content;
  }

}

/* === LvK specific mixins === */

@mixin box-sizing( $box-sizing ) {

	-webkit-box-sizing: $box-sizing;
	-moz-box-sizing: $box-sizing;
	-ms-box-sizing: $box-sizing;
	box-sizing: $box-sizing;

}

@mixin border-radius( $border-radius ) {

	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	border-radius: $border-radius;

}

@mixin transition($transition) {
	
	-webkit-transition: all ease-in-out $transition;
	-moz-transition: all ease-in-out $transition;
	-ms-transition: all ease-in-out $transition;
	transition: all ease-in-out $transition;
	
}

@mixin transition-background( $transition ) {
	
	-webkit-transition: background ease-in $transition;
	-moz-transition: background ease-in $transition;
	-ms-transition: background ease-in $transition;
	transition: background ease-in $transition;
	
}

@mixin transition-property( $prop, $transition ) {
	
	-webkit-transition: $prop ease-in $transition;
	-moz-transition: $prop ease-in $transition;
	-ms-transition: $prop ease-in $transition;
	transition: $prop ease-in $transition;
	
}

@mixin achtergrond() {
	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

@mixin box-shadow( $opacity ) {

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, $opacity);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, $opacity);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, $opacity);
	box-shadow: 0 1px 2px rgba(0, 0, 0, $opacity);

}

@mixin scale( $transform ) {

	-webkit-transform: scale($transform);
	-moz-transform: scale($transform);
	-ms-transform: scale($transform);	
	transform: scale($transform);
	
}

@mixin translate( $x, $y ) {
	
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}transform: translate($x, $y);
     }
	
}

@mixin css3( $property, $value ) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}

@mixin appearance() {
	
	-webkit-appearance: none; 
	-webkit-tap-highlight-color: transparent;
	
}

@mixin flex() {
	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	
}

@mixin achtergrondkleur( $kleur, $opacity ) {

	-webkit-background-color: rgba( $kleur, $opacity );
	-moz-background-color: rgba( $kleur, $opacity );
	-ms-background-color: rgba( $kleur, $opacity );
	background-color: rgba( $kleur, $opacity );	
	
}


@mixin xs {

  @media ( max-width: #{$breedte-xs - 1px} ) {
    @content;
  }

}

@mixin sm {

  @media ( min-width: #{$breedte-xs} ) and ( max-width: #{$breedte-md - 1px} ) {
    @content;
  }
  
}