/**
 * SCSS Variables
 * --------------------------------------------------------------------------- 
 * - default
 * - breakpoints
 * - colors
 * - containers
 * - typography
 * - whitespace
**/

/* ===== Default ===== */

$nullbeta-default-size: 16px;

/* ===== Breakpoints ===== */

$screen-xl: "only screen and (min-width: 1400px)"; //xlarge
$screen-xldown: "only screen and (max-width: 1399px)"; //xlarge down
$screen-lgup: "only screen and (min-width: 1200px)"; //large up
$screen-lg: "only screen and (min-width: 992px) and (max-width: 1199px)"; //large
$screen-lgdown: "only screen and (max-width: 1199px)"; //large down
$screen-mdup: "only screen and (min-width: 992px)"; //medium up
$screen-md: "only screen and (min-width: 800px) and (max-width: 991px)"; //medium
$screen-mddown: "only screen and (max-width: 991px)"; //medium down
$screen-sm: "only screen and (max-width: 799px)"; //small
$screen-xsm: "only screen and (max-width: 575px)"; //extra small

/*
@media #{$screen-sm} {

}	
*/

/* ===== Colors ===== */

$blue: #123c69;
$blue-dark: #025;
$blue-light: #28b7df;
$blue-bol: #36c;
$green: #9c0;
$green-dark: darken( $green, 10% );
$green-light: #afd275;
$grey: #e9ecef;
$grey-dark: #555;
$grey-light: #eee;
$grey-border: $grey-light;
$orange: #ffc107;
$pink: #ac3b61;
$pink-meow: #ff00f9;
$red: #c30;
$red-dark: #900;
$background-facebook: #3b5998;
$background-github: black;
$background-instagram: $red;
$background-linkedin: #0084bf;
$background-twitter: #1c94e0;
$nullbeta-bgcolor: #fbfbfb;
$nullbeta-link-color: #252525;
$nullbeta-link-color-hover: $red;
$achtergrond-kleuren: (
	blauw: $blue,
    groen: $green-light,
    oranje: $orange,
    rood: $red-dark,
	roze: $pink,
);

/* ===== Containers ===== */

$nullbeta-ads-container-width: 970px;
$nullbeta-container-width: 970px;
$nullbeta-masonry: 220px;
$nullbeta-margin-narrow: 15%;
$nullbeta-narrow: 70%;
$nullbeta-width-md: 1024px;
$nullbeta-width-sm: 768px;
$nullbeta-width-xs: 576px;


/* ===== Typography ===== */

$nullbeta-font: 'Montserrat', sans-serif;
$nullbeta-header: 'Montserrat Medium', sans-serif;
$nullbeta-header-boogaloo: 'Boogaloo', sans-serif;

$factor: 0.8;
$factor-xsm: 0.75;
$h1: 2rem;
$h1-xsm: $h1 * $factor-xsm;
$h2: $h1 * $factor;
$h2-xsm: $h2 * $factor-xsm;
$h3: $h2 * $factor;
$h4: $h3 * $factor;
$h5: $h4;
$h6: $h4;
$small-font: $nullbeta-default-size * $factor;


/* ===== Whitespace ===== */

$nullbeta-border-radius: .25rem;
$nullbeta-default-padding: 1rem;
$nullbeta-double-padding: 2 * $nullbeta-default-padding;
$nullbeta-default-margin: $nullbeta-default-padding;
$nullbeta-double-margin: 2 * $nullbeta-default-margin;
$default-whitespace: $nullbeta-default-padding;
$double-whitespace: 2 * $default-whitespace;
$half-whitespace: 0.5 * $default-whitespace;


/* ===== Keyframes ===== */

@keyframes pulseer {

  0%   { transform: scale( 1.1 ); }
  100% { transform: scale( 1 ); }
  
}


@keyframes splash {

  0% {

    transform: scale( .5 );
    opacity: 0

  }

  25% {

    opacity: 1

  }

  50% {

    transform: scale( 1.3 );
    opacity: 0

  }

  to {


    transform: scale( 1.3 );
    opacity: 0

  }

}
